:root{
    --primaryColor: #fff;
    --textColor: #11073B;
    
    --textFont: 'Lora', 'Times New Roman', serif;
    --titleFont: 'Open Sans', 'Helvetica', sans-serif;

    --mainWidth: 1180;
    --gutter: 20;
}